<%= render "layouts/header" %>

<br/>
  <center><div class="subtitle"><%= @academic.title %></div></center>


<center>
<% @academic.courses.each do |course| %>
<h3><strong><%= course.title %></strong><br/></h3>
Instructor: <%= course.instructor %> | <%= course.time %> | <%= course.location %>
<h4  style="text-decoration: underline;">To Do List</h4>
<div><%= simple_format(course.todo) %></div>
<% end %>
</center>
