<%= render "layouts/header" %>

<br/>
<p>
  <div class="section_title" style="color: #004d00"><%= @academic.title %></div>
</p>

<center>
<% @academic.courses.each do |course| %>
<h3><strong><%= course.title %></strong><br/></h3>
Instructor: <%= course.instructor %> | <%= course.time %> | <%= course.location %>
<h4  style="text-decoration: underline;">To Do List</h4>
<div><%= simple_format(course.todo) %></div>
<% end %>
</center>
