<%= render "layouts/header" %>

<hr>
<p>
  <h2><center><strong><%= @academic.title %></strong><centre></h2>
</p>
<hr>
<center>
<% @academic.courses.each do |course| %>
<h3><strong><%= course.title %></strong><br/></h3>
Instructor: <%= course.instructor %> | <%= course.time %> | <%= course.location %>
<h4  style="text-decoration: underline;">To Do List</h4>
<textarea cols="50" rows="5" readonly="true"><%= course.todo %></textarea>
<% end %>
</center>
